.custom-play-button {
  background-color: #282c34; /* Spotify Green */
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}

.custom-play-button svg {
  fill: #282c34;
  width: 30px;
  height: 30px;
}

.progress-bar-container {
  position: relative;
  display: flex;
  width: 100vw; /* Adjust width as needed */
  margin: 20px auto; /* Center the container and add vertical spacing */
  justify-content: center;
}

.top-border,
.bottom-border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white; /* White border color */
}

.top-border {
  top: -1px;
}

.bottom-border {
  bottom: -1px;
}

.progress-bar {
  display: flex;
  width: 80%; /* Full width of the container */
  max-width: 800px;
  height: 20px;
  background-color: #333; /* Dark background */
}

.segment {
  height: 100%;
  border-left: 1px solid #282c34; /* Segment border color */
  background-color: #555; /* Unfilled segment color */
  transition: background-color 0.3s ease; /* Add transition for visual effect */
}

.segment:first-child {
  border-left: none; /* Remove left border from the first segment */
}

.segment.filled {
  background-color: #1DB954; /* Spotify green for filled segments */
}
