.custom-play-button {
    background-color: #282c34; /* Spotify Green */
    border: none;          
    border-radius: 50%;   
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  }
  
  .custom-play-button svg {
    fill: #282c34; 
    width: 30px; 
    height: 30px; 
  }
  
  .progress-bar {
    display: flex;
    width: 300px; /* Adjust width as needed */
    height: 10px;
    background-color: #333; /* Dark background */
    margin-bottom: 10px;
  }
  
  .segment {
    flex: 1;  /* Make segments take equal space */
    height: 100%;
    background-color: #555; /* Unfilled segment color */
    transition: background-color 0.3s ease; /* Add transition for visual effect */
  }
  
  .segment.filled {
    background-color: #1DB954; /* Spotify green for filled segments */
  }